
body, html {
  height: 100%;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
html{
  font-size: 16px;
}

header{
  height: 4em;
  background-color: #fff;
  margin-bottom: 2em;
}
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: 0;
}
#search {
    height: 40px;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
    color: #292f33;
    background-color: transparent;
    border-color: #e1e8ed;
}

#search-input
{
  height: 30px;
  border: none;
  background: transparent;
  font-size: 1.5em;
}

header .circle{
  width: 40px;
  height: 40px;
  margin: 10px 10px;
  border-color: #e1e8ed;
}

#sign-in{
  border-right: 1px solid #e1e8ed;
}
#sign-out{
    border-left: 1px solid #e1e8ed;
  }
.feather .circle{
  background-color: #78A7CE;
}

header .fa-leaf{
  color: #fff;
}
header .fa{
  font-size: 20px;
}
header .fa-twitter{
  font-size: 30px;
  color: #78A7CE;
}
.categorybar{
  width: 800px;
  background: #fff;
  float: left;
  padding: 0;
  margin-bottom: 2em;
}
.category{
  padding: 10px 0;
  width: 196px;
  display: inline-block;
  cursor: pointer;
}
.category.category-selected
{
  border-bottom: 5px solid #78A7CE;
}
.title, .count{
  display: block;
  color: #222;
}
.title{
  color: #8899a6;
}
.tweets{
  width: 800px;
  background-color: #FFF;
}
.tweet{
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #e1e8ed;
}
.tweet-pic{
  width: 50px;
  height: 50px;
  border-color: #e1e8ed;
  margin: 0 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0
}
.tweet-pic .fa-user{
  font-size: 30px;
}
.tweet-content{
  color: #8899a6;
  width: 700px;
}
.name{
  color: #292f33;
}
.when{
  padding-right: 15px;
}
.tweet-content .fa{
  padding-right: 15px;
}
.dropdown-item {
  cursor: pointer;
}
.dropdown-item .fa {
  padding-right: 3px;
}

@media only screen and (max-width : 950px){
  .dropdown-item span {
    display: none;
  }
}


.actual-content{
  padding: 15px 0;
}
.tweet-content p{
  margin: 0;
}
.tweet-content iframe{
  width: 700px;
  height: 350px;
}

header{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.retweeted {
  color : green;
}
::-webkit-input-placeholder { 
  text-align : left;
}
i.fa {
  cursor : pointer;
}
.liked {
  color : red;
}
#container {
  background-color: #fff;
}
button.btn.btn-sm {
  width : 135px;
  border-radius: 25px;
}

@media (max-width: 770px){
  .categorybar{
    width: 100%;
    margin : 8px auto;
  }
  .category{
    width: 48%;
  }
  
  .tweets{
    width: 100%;
  }
  #container {
    width : 100%;
  }
  #search {
    display: none;
  }
}

@media only screen and (max-width : 700px){
 .joined {
   display: none;
 }
}

@media only screen and (max-width : 600px){
  .btn.btn-sm {
    width : 90px;
    border-radius: 25px;
  }
}

img.signin-icon {
  margin-bottom : 40px;
}

i.fa-remove {
  color : #fff;
}
