
 <div class='container text-center login'>
    <div class='row'>
        
   
        <div class="form-signin">
             <img class='signin-icon' src="https://image.flaticon.com/icons/png/512/196/196970.png" style="height : 50px"/>

          <label for="inputEmail" class="sr-only">Username</label>
          <input type="text" id="emailOrHandle" name='username' class="form-control" placeholder="username" required autofocus>
          <br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="attemptPassword" name='password' class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" id="signInBtn">Sign in</button>
          <br>          
          <p>Don't have an account yet? <a href="/register">Register</a></p>
          <br>

       </div>
    </div>
    </div>   



<script>



</script>



